<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.newadmin.demoservice.mainPro.nas.dao.ItemIconMapper">

  <!-- 通用查询映射结果 -->
  <resultMap id="BaseResultMap" type="com.newadmin.demoservice.mainPro.nas.entity.ItemIcon">
    <id column="id" property="id"/>
    <result column="created_at" property="createdAt"/>
    <result column="updated_at" property="updatedAt"/>
    <result column="deleted_at" property="deletedAt"/>
    <result column="icon_json" property="iconJson"/>
    <result column="title" property="title"/>
    <result column="url" property="url"/>
    <result column="lan_url" property="lanUrl"/>
    <result column="description" property="description"/>
    <result column="open_method" property="openMethod"/>
    <result column="sort" property="sort"/>
    <result column="item_icon_group_id" property="itemIconGroupId"/>
    <result column="user_id" property="userId"/>
  </resultMap>

  <!-- 通用查询结果列 -->
  <sql id="Base_Column_List">
    id
    , created_at, updated_at, deleted_at, icon_json, title, url, lan_url, description, open_method, sort, item_icon_group_id, user_id
  </sql>

</mapper>
