<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.newadmin.demoservice.mainPro.ltpro.dao.ReaiLikesMapper">

  <!-- 通用查询映射结果 -->
  <resultMap id="BaseResultMap" type="com.newadmin.demoservice.mainPro.ltpro.entity.ReaiLikes">
    <id column="like_id" property="likeId"/>
    <result column="article_id" property="articleId"/>
    <result column="user_id" property="userId"/>
    <result column="liked_at" property="likedAt"/>
  </resultMap>

  <!-- 通用查询结果列 -->
  <sql id="Base_Column_List">
    like_id
    , article_id, user_id, liked_at
  </sql>

</mapper>
