<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.newadmin.demoservice.mainPro.nas.dao.UserConfigMapper">

  <!-- 通用查询映射结果 -->
  <resultMap id="BaseResultMap" type="com.newadmin.demoservice.mainPro.nas.entity.UserConfig">
    <result column="user_id" property="userId"/>
    <result column="panel_json" property="panelJson"/>
    <result column="search_engine_json" property="searchEngineJson"/>
  </resultMap>

  <!-- 通用查询结果列 -->
  <sql id="Base_Column_List">
    user_id
    , panel_json, search_engine_json
  </sql>

</mapper>
