<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.newadmin.demoservice.mainPro.nas.dao.UserMapper">

  <!-- 通用查询映射结果 -->
  <resultMap id="BaseResultMap" type="com.newadmin.demoservice.mainPro.nas.entity.User">
    <id column="id" property="id"/>
    <result column="created_at" property="createdAt"/>
    <result column="updated_at" property="updatedAt"/>
    <result column="deleted_at" property="deletedAt"/>
    <result column="username" property="username"/>
    <result column="password" property="password"/>
    <result column="name" property="name"/>
    <result column="head_image" property="headImage"/>
    <result column="status" property="status"/>
    <result column="role" property="role"/>
    <result column="mail" property="mail"/>
    <result column="referral_code" property="referralCode"/>
    <result column="token" property="token"/>
  </resultMap>

  <!-- 通用查询结果列 -->
  <sql id="Base_Column_List">
    id
    , created_at, updated_at, deleted_at, username, password, name, head_image, status, role, mail, referral_code, token
  </sql>

</mapper>
